<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Backbone to Angular</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container" ng-controller="TimerController">
        <div class="row" ng-repeat="timer in timers">
            <div class="col-md-4" ng-controller="DigitalController">
                <button ng-click="buttonPushed()">click</button>
                {{displayTime}}
            </div>
            <div class="col-md-4" ng-controller="SecondsController">{{seconds}}</div>
            <div class="col-md-4" ng-controller="WinkyController">
                Hooray! {{ ten }}! <span ng-if="semicolon">;</span><span ng-if="!semicolon">:</span>D
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/ClockModel.js"></script>
    <script type="text/javascript" src="js/services/TimerModel.js"></script>
    <script type="text/javascript" src="js/services/TimeModelService.js"></script>
    <script type="text/javascript" src="js/services/util.js"></script>
    <script type="text/javascript" src="js/controllers/TimerController.js"></script>
    <script type="text/javascript" src="js/controllers/DigitalController.js"></script>
    <script type="text/javascript" src="js/controllers/SecondsController.js"></script>
    <script type="text/javascript" src="js/controllers/WinkyController.js"></script>
</body>
</html>
